.shapeshift {
	width: 100%;
	position: relative;
}

.shapeshift div {
	height: 150px;
	position: absolute;
	width: 250px;
	color: white;
	border-radius: 15px;
	/*padding: 20px;*/
}

.container{
	width: 100%;
	padding-bottom: 2em;
}

.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 2em;
	background-color: rgba(0, 0, 0, 0.5);
}

.footer-description{
	text-align: right;
	margin: 0.5em 2em;
	text-shadow: 0px 0px 0px green;
}

.dropdown-menu{
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
}
.brick {
	float: left;
	cursor: default;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
	background-size:100%;
}

.brick .cover {
	overflow: hidden;
	box-sizing: border-box;
}

.cover h2{
	font-size: 2em;
	text-align: center;
	margin-right: 0.8em;
}
.cover h4{
	text-align: center;
}

.cover .status{
	position: absolute;
	text-align: right;
	padding: 0.5em;
}

.cover img{
	width: 1em;
}


/* ----------------- */
body{
	/*background-image: url('dispatcher.php?action=getImage&id=16');*/
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
	margin: 0;
	padding: 0;
	line-height: 1.125em;
	color: white;
}


a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: white;
	opacity: 0.9;
}
a:visited {
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	text-shadow: 2px 2px 0 rgba(0,0,0,1);
	font-family: 'Lato', Georgia, Helvetica, Tahoma;
	margin: 0.1em 0.2em;
	font-weight: normal;
}
