@media all and (min-width: 768px){
    .shapeshiftServices div {
            height: 150px;
            position: absolute;
            width: 250px;
            border-radius: 15px;
    }
}
@media not all and (min-width: 768px){
    .shapeshiftServices div {
            height: 150px;
            position: absolute;
            width: 150px;
            border-radius: 15px;
    }
}

.inactive {
	opacity: 0.4;
	/*background-color: #000; */
	-webkit-filter: grayscale(100%); 
	-moz-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	filter: grayscale(100%); 
}

.shapeshiftServices {
	width: 100%;
	position: relative;
}


#allImages img {
	max-height: 100px;
	max-width: 160px;
}

.listimages {
	cursor: pointer;
	display: inline-block;
	margin: 10px;
}

.deleteimg {
	opacity: 0.8;
	outline: none;
}

#loginBtn{
	display: none;
}
#logoutBtn{
	display: none;
}
#loginError{
	display: none;
}

.container{
	width: 100%;
	padding-bottom: 2em;
}

.footer{
	position: fixed;
	bottom: 0;
	width: 12em;
	height: 2em;
	right: 0em;
	background-color: rgba(0, 0, 20, 0.7);
	box-shadow: inset 0px 14px 20px -10px #223355;
	border-radius: 30px 0 0 0;
}

.footer-description{
	text-align: center;
	margin: 0.5em 0.2em;
	text-shadow: 0px 0px 0px green;
}

.close{
	color: white;
}
.modal-content{
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
}

.dropdown-menu{
	background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);
}
.brick {
	float: left;
	cursor: default;
	overflow: hidden;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

.brickBG {
	background-repeat: no-repeat;
	background-position: center;
	background-size:100%;
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: inset 0px 0px 20px #555;
}
.brick:hover .brickBG {
	background-color: rgba(0, 0, 0, 0.6);
	box-shadow: inset 0px 0px 30px #777;
}

.brickAdd {
	background-repeat: no-repeat;
	background-position: center;
	background-size:100%;
	background-color: rgba(50, 50, 50, 0.3);
	box-shadow: inset 0px 0px 20px #555;
}

.brick:hover .brickAdd {
	background-color: rgba(50, 50, 50, 0.6);
	box-shadow: inset 0px 0px 30px #fff;
}

.brick .cover {
	overflow: hidden;
	box-sizing: border-box;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.cover h2{
	font-size: 2em;
	text-align: center;
	margin-right: 0.8em;
}
.cover h4{
	text-align: center;
}

.cover .status{
	position: absolute;
	text-align: right;
	padding: 0.5em;
}

.cover img{
	width: 1em;
}


.bg_stars{
	background-color: rgb(10,10,10);
	background-image:
		radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
		radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
		radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
		radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
		background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px; 
		background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;	margin: 0;
}
.bg_carbon{
	background:
linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
background-color: #131313;
background-size: 20px 20px;
}

.bg_carbonFiber{
	background:
radial-gradient(black 15%, transparent 16%) 0 0,
radial-gradient(black 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
background-color:#282828;
background-size:16px 16px;
}
/* ----------------- */
body{
	/*background-image: url('dispatcher.php?action=getImage&id=16');*/
	/*background-image: linear-gradient(to bottom,#3c3c3c 0,#222 100%);*/

	padding: 0;
	line-height: 1.125em;
	color: white;
}


a {
	text-decoration: none;
	color: white;
}
a:hover {
	color: white;
	opacity: 0.9;
}
a:visited {
	color: white;
}

h1, h2, h3, h4, h5, h6 {
	text-shadow: 2px 2px 0 rgba(0,0,0,1);
	font-family: 'Lato', Georgia, Helvetica, Tahoma;
	margin: 0.1em 0.2em;
	font-weight: normal;
}


.sphere {
	right: 0px;
	background-color: white;
	box-shadow: inset -1px -1px 10px #000, 5px 5px 10px black, inset 0px 0px 10px black;
	margin: 0.5em;
}
.sphere::after {
	background-color: rgba(255, 255, 255, 0.3);
	content: '';
	height: 45%;
	width: 15%;
	position: absolute;
	top: 5%;
	left: 16%;
	border-radius: 50%;
	transform: rotate(40deg);
}
